/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+DE+Grund:wght@100..400&display=swap');

/* General styles */
body {
    font-family: "Lato", sans-serif;
    background-color: yellow;
}

/* Override default browser styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
